<footer>
	<div class="footer_top">
		<div class="container">
			<div class="footer_logo">
				<a href="#">
					<img src="images/footer_logo.jpg" alt="">
				</a>
				<span>s motory od německého výrobce BECKER</span>
			</div>
			<div class="footer_aside">
				<div class="footer_menu">
					<ul>
						<li><a href="#">Reference</a></li>
						<li><a href="#">Ke stažení</a></li>
						<li><a href="#">Partneři</a></li>
					</ul>
				</div>
				<div class="footer_info">
					<a href="tel:800 155 000"><i class="fa fa-phone"></i>800 155 000</a>
					<a href="mailto:info@proalu.cz"><i class="fa fa-envelope-o"></i>info@proalu.cz</a>
				</div>
				<div class="footer_facebook">
					<div class="facebook">
						<span><i class="fa fa-facebook"></i>To se mi líbí</span>
						<span class="facebook_count">158</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="col-left">
                <p>Design and developed by</p>
                <span class="creator">Creativin</span>
			</div>
			<div class="col-right">
              <p>Copyright © Proalu, s.r.o. 2013-2015</p>
			</div>
		</div>
	</div>
</footer>