<header class="header">
    <div class="container">
        <div class="logo">
            <img src="images/logo.jpg" alt="PROALU">
        </div>
        <aside class="header_aside">
            <a id="touch-menu" class="mobile-menu" href="#">
                <i class="fa fa-reorder"></i>
                Menu
            </a>
        	<nav class="nav">
        		<ul>
        			<li>
                        <a href="">Produkty</a>
                        <div class="sub_menu">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="images/sub_menu_img1.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Rolety</p>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="images/sub_menu_img2.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Venkovni zaluzie</p>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="images/sub_menu_img8.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Systemove parapety</p>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="images/sub_menu_img3.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Markyzy</p>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="images/sub_menu_img4.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Vrata</p>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="images/sub_menu_img5.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Site proti hmyzu</p>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="images/sub_menu_img6.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Barvy rolet a<br/> zaluzii</p>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="images/sub_menu_img7.jpg" alt="">
                                            <div class="overlay"></div>
                                        </a>
                                        <p>Spocitejtesi cenu</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
        			<li><a href="" class="active">Konfigugrator</a></li>
        			<li><a href="">Novinky</a></li>
        			<li><a href="">O spolecnosti</a></li>
        			<li><a href="">kontakt</a></li>
        		</ul>
        	</nav>
        	<div class="lang_switch">
        		<ul>
        			<li>
        				<a href="#" class="lang_switch_selected">cz</a>
        				<ul>
        					<li><a href="">gr</a></li>
        					<li><a href="">en</a></li>
        				</ul>
        			</li>
        		</ul>
        	</div>
        </aside>
    </div>
</header>