<div class="info">
	<div class="container">
		<div class="prom">
			<div class=" col col-left">
				<i class="fa fa-gift"></i>
				<span>PRO-VARIO-R a PRO-VARIO-Z výhodněji!</span>
			</div>
			<div class=" col col-right">
				<span>Barvy rolet a žaluzií do překladu VARIO… ZDARMA!</span>
			</div>
		</div>
		<div class="info_wrap">
			<div class=" text col col-left">
				<h3>Rolety</h3>
				<p>
	            	Možná přemýšlíte nad různými nabídkami na předokenní rolety od různých výrobců a prodejců a nemůžete se rozhodnout. Zkusíme Vám v tom trochu pomoci.
	            </p>
	            <h3>Jak vybírat rolety?</h3>
	            <p>
	              Na trhu v ČR je několik výrobců rolet a několik desítek, možná i stovek prodejců stínící a roletové techniky. Říkáte si, je třeba kupovat rolety výhradně přímo u výrobce? Myslíme, že určitě ne. Naopak řada obchodních a montážních firem, která prodává (a nevyrábí) předokenní rolety a také další stínící techniku to dělá na prvotřídní, profesionální úrovni, dokonce jsou leckdy tyto služby komplexnější a díky působení v regionu i rychlejší a levnější, než dodávka od 100 a více km vzdáleného výrobce, který by za Vámi cestoval s montážní partou..
	            </p>
			</div>
			<div class=" text col col-right">
				<h3>Pro jaké rolety se tedy rozhodnout?</h3>
				<p>
	              Dodavatele pro rolety vybírejte nejlépe v regionu, kde se nachází Váš dům nebo byt. Seznam regionů, ve kterých najdete nejbližšího autorizovaného prodejce rolet PROALU, roztříděných podle krajů a měst ČR, naleznete na straně <span>Spočítejte si cenu
	              </span> a <span>Kontakt</span>.
            	</p>
            	<h3>A co je výsledkem?</h3>
            	<p>
	              Kvalitní předokenní rolety „made by PROALU“, jsou přesně ty rolety, co jste si vybrali - profesionálně zaměřené, dodané a namontované autorizovaným prodejcem z Vašeho regionu. Prodejce je schopen zajistit díky své regionální působnosti na rolety rychlý záruční nebo pozáruční servis. Bonusem navíc je jistota, že veškeré dopravní náklady spojené např. s pozáručním servisem jsou opravdu minimální.
	            </p>
			</div>
		</div>
	</div>
</div>