<div class="products">
	<div class="container">
		<div class="products_text">
			<div class="products_text_inner">
				<h1>Vyrábíme pro Vás předokenní rolety</h1>
				<h2>pro zabudování v novostavbách i pro dodatečnou montáž</h2>
				<a href="#" class="btn">
					<span class="link_inner"><i class="fa fa-eur"></i></span>
				</a>
			</div>
		</div>
		<div class="product_menu">
			<a id="touch-menu_producty" class="mobile-menu_producty" href="#">
                <i class="fa fa-reorder"></i>
                Naše produkty
            </a>
			<div class="title_wrap">
				<span>Naše produkty</span>
			</div>
			<nav>
				<ul>
	                <li><a href="#">rolety</a></li>
	                <li><a href="#">Markýzy</a></li>
	                <li><a href="#">Vrata</a></li>
	                <li><a href="#">Sítě proti hmyzu</a></li>
	                <li><a href="#">Venkovní žaluzie</a></li>
	                <li><a href="#">Systémové parapety</a></li>
             	</ul>
			</nav>
		</div>
	</div>
</div>