<!-- Slider -->
<div class="slider-wrap">
  <div class="container">
    <div class="slider">
      <div class="slide-list">
        <div class="slide-wrap">
          <div class="slide-item">
              <a href="#">
                <img src="images/slide_img1.jpg" >
                <div class="descr">
                  <h4>Akce</h4>
                  <p>Výhoda pro žaluzie PRO-VARIO-Z!</p>
                </div>
              </a>
          </div>
          <div class="slide-item">
              <a href="#">
                <img src="images/slide_img2.jpg"  >
                <div class="discount"><span>Slevový pokaz</span></div>
                <div class="descr">
                  <h4>Akce</h4>
                  <p>Výhoda pro žaluzie PRO-VARIO-Z!</p>
                </div>
              </a>
          </div>
          <div class="slide-item">
              <a href="#">
                <img src="images/slide_img3.jpg" >
                <div class="descr">
                  <h4>Akce</h4>
                  <p>Výhoda pro žaluzie PRO-VARIO-Z!</p>
                </div>
              </a>
          </div>
          <div class="slide-item">
              <a href="#">
                <img src="images/slide_img2.jpg" >
                <div class="descr">
                  <h4>Akce</h4>
                  <p>Výhoda pro žaluzie PRO-VARIO-Z!</p>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of slider -->
                  