
.info{
margin-top: 45px;
}
.prom{
	@include background-horizontal(#eb4200,#fff);
	@include clr();
	@include br(phablet){
		@include background-gradient(#eb4200,#fff);
		.col{
			width: 100%;
		}
		.col-left{
			float: none;
		}
		.col-right{
			float: none;
		}
	}
	span{
		display: inline-block;
	}
}
.col-left{
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	.fa{
		margin-right: 35px;
		padding: 7px 7px 7px 8px;
		color: #eb4200;
		@include border-radius(50%);
		background-color: #fff;
			
	}
}
.col-right{
	float: right;
	line-height: 30px;
	color: #555555;	
}
.col{
	font-size: 14px;
	width: 50%;
	padding: 15px 0;
	text-align: center;
}
.info_wrap{
	@include clr();
	.text{
		font-size: 13px;
		text-align: left;
		line-height: 18px;
		font-weight: normal;
		text-transform: none;
		color: #999999;
	}
	.col{
		width: 50%;
		padding: 60px 0;
		@include br(phablet){
			width: 100%;
		}
		h3{
			color: #444444;
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 30px;
			&:last-child{margin-bottom: 0;}
		}
	}
	.col-left{
		padding-right: 50px;
		@include br(phablet){
			padding: 20px;
		}
	}
	.col-right{
		padding-left: 50px;
		@include br(phablet){
			padding: 20px;
		}
	}
}